.about{
  padding:140px 100px;
  display: flex;
  
}
.about .image{
  min-width:400px;
  max-width: 550px;
  margin-right: 50px;
}
.about .image video{
  width:100%;border: 1px solid aqua;
}
.text{
  color:white;
}
.about .text h4{
  line-height: 2;
  color:aqua
}
.about .text p{
  font-size: 20px;
  line-height: 1.5;
}
.about-details{
  color:white;
  padding:50px 100px;
}
.about-details .heading{
  font-size: 25px;
  color:aqua;
  margin: auto;
  width:100%;
  text-align: center;
}
.about-details .cr{
  width:100%;
  display: flex;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding:50px
}
.card{
  width:250px;
  height:300px;
  overflow: hidden;
  position: relative;
  border: 1px solid aqua;
  margin-bottom: 50px;
}
.card img{
  width:100%;
  height:100%;
  object-fit: cover;
}
.card .desc{
  position: absolute;
  bottom:-100%;
  right:0px;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,0.6);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  transition: 0.45s;
}
.card:hover{
  border: 2px solid aqua;
  box-shadow: 0px 0px 5px aquamarine;
}
.card:hover .desc{
  bottom:0px;
}
@media screen and (max-width:1024px) and (min-width:768px){
  .about{
    padding:100px 4%;
    align-items: center;
  }
  .about .image{
    width:300px;
    max-width: 400px;
  }
  .about-details{
    padding:100px 4%;
  }
}
@media screen and (max-width:767px){
  .about{
    padding:100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .image{
    width:90%;
    max-width: 90%;
    min-width: 90%;
    margin: auto;
  }
  .about .text{
    width:90%;
    margin-top: 50px;
  }
  .about h4{
    font-size: 20px;
  }
  .about .text p{
    font-size: 18px;
    line-height: 1.7;
  }
  .about-details{
    padding:30px 0px;
  }
  .about-details .cr{
    padding:0px;
  }
  .card{
    min-width:75%;
    min-height: 350px;
  }  
}