.home{
  display: flex;
  padding:10% 10%;
  justify-content: space-evenly;
  align-items: center;
  color:white;
  min-height: 100vh;
  position: relative
}
.left{
  width:54%;
  margin-top: 50px;
  z-index: 0;
  margin-right: 20px;
}
.right-container{
  width:100%;
  margin: auto;
  overflow-x: hidden;
}
.right{
  width:35%;
  border:2px solid aqua;
  box-shadow: 0px 0px 10px #eff;
  padding:10px;
  font-size: 18px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 50px;
  z-index: 0;
  margin: auto;
}
.right .content span{
  font-size: 20px;
  font-weight: bold;
  color:brown;
}
.right .by{
  margin-top: 20px;
  margin-left: 100px;
}
.carousel{
  width:500px;
  max-width: 520px;
}
@media screen and (min-width:768px) and (max-width:1024px) {
  .home{
    padding:100px 4%;
    display: flex;
    align-items: center;
  }
  .carousel{
    width:80%;
    margin:auto;
  }
  
}
@media screen and (max-width:767px){
  .home{
    padding:150px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
  }
  .carousel{
    width:100%;
    margin: auto;
  }
  .left{
    width:90%;
    margin-top: 100px;
    margin: auto;
  }
  .right{
    width:90%;
  }

}
